extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

       
        h1 Jack Morris

       
        p.lead.text-light
          | Full Stack JavaScript Developer.

       
        .portfolio-bio
          p
            | I am a  dedicated Front End Developer
            | JavaScript, CSS and HTML are the three main languages I use in my projects.
            | Check out my projects page to see my work
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

       
        ul
          li HTML
          li CSS
          li JavaScript
          li JQuery
          li API 
          li SASS
        h6 Contact Info

        
        ul
          li 083-348-8219
          li morris.c.jack3@gmail.com

       
        a.button.expanded(href="https://www.linkedin.com/in/jack-morris-360503b3/" target =" _blank") LinkedIn
        a.button.expanded(href="https://github.com/JackM1994" target ="_blank") GitHub
        a.button.expanded(href="https://twitter.com/JackMorris1994" target =" _blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  